apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${{ values.name }}
  labels:
    app: ${{ values.name }}
  annotations:
    backstage.io/techdocs-ref: dir:.
    backstage.io/kubernetes-id: ${{ values.name }}
    backstage.io/kubernetes-label-selector: app=${{ values.name }}
    argocd/app-name: ${{ values.name }}
spec:
  type: service
  owner: user:guest
  lifecycle: experimental
