apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ${{ values.name }}-pvc
  labels:
    app: ${{ values.name }}
spec:
  resources:
    requests:
      storage: ${{ values.storageSize }}
  volumeMode: Filesystem
  accessModes:
    - ${{ values.accessMode }}
  storageClassName: ${{ values.storageClassName }}
  volumeName: ${{ values.name }}-pv