apiVersion: v1
kind: Service
metadata:
  name: ${{ values.name }}
  namespace: ${{ values.namespace }}

spec:
  selector:
    app: ${{ values.name }}
  ports:
  - name: http
    protocol: TCP
    port: ${{ values.port }}
    targetPort: ${{ values.port }}
